/* Estilos gerais e do tema claro */
.profile-container {
    text-align: center;
    padding: 20px 0;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #3388cc; /* Azul padrão do JQM */
    object-fit: cover;
}
