body {
  margin: 0;
  background-color: #000; /* Fundo preto para fora do canvas de estrelas */
  font-family: 'Orbitron', sans-serif; /* Aplica a nova fonte */
  overflow: hidden; /* Esconde barras de rolagem */
}

/* Canvas de fundo para as estrelas */
#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Container para o jogo e formulário */
#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}

/* Canvas principal do jogo */
#gameCanvas {
  border: 2px solid #39a34a;
  box-shadow: 0 0 15px #39a34a; /* Adiciona um brilho na borda do jogo */
  background: transparent; /* Deixa o canvas do jogo transparente */
}

/* Estilos para o formulário de high score */
#highScoreFormContainer {
  position: absolute;
  background-color: rgba(10, 4, 13, 0.9);
  color: #f0f6fc;
  border: 2px solid #39a34a;
  box-shadow: 0 0 15px #39a34a;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
}

#highScoreFormContainer.hidden {
  display: none;
}

#highScoreFormContainer h2 {
    color: #39a34a;
    text-shadow: 0 0 8px #39a34a;
}

#highScoreFormContainer input {
  background-color: #0a040d;
  color: #f0f6fc;
  border: 1px solid #39a34a;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  width: 120px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin-right: 10px;
}

#highScoreFormContainer button {
  background-color: #39a34a;
  color: #0a040d;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
}